* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
*::selection {
  background-color: black;
  color: white;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

body {
  background-image: url("../img/fondo-texta.jpg");
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 0vh;
  flex-wrap: wrap;
}

.navbar-nav .nav-link.active {
  color: black;
}

.foto-inicio {
  justify-content: center;
  margin-bottom: 10px;
}

.contenedor-titulo {
  background-color: rgba(0, 0, 0, 0.06);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 15px;
}

h1 {
  display: none;
}

h3 {
  font-style: italic;
}

.navbar-nav a:hover {
  color: rgb(66, 66, 66);
  font-weight: 600;
  transition: 100ms;
}

footer {
  background-color: white;
  align-self: flex-end;
  width: 100%;
  height: 10%;
  bottom: 0;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  font-family: "Ubuntu", sans-serif;
}

.derechos {
  font-size: 0.6em;
}

.logo-whatsapp {
  font-size: 2em;
  width: 40px;
  height: 40px;
  margin: 0;
  position: fixed;
  bottom: 80px;
  right: 20px;
}
.logo-whatsapp:hover {
  font-size: 2em;
  width: 40px;
  height: 40px;
  margin: 0;
  position: fixed;
  bottom: 82px;
  right: 20px;
  transition: 0.5s;
}

.carousel {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-inicio {
  text-align: center;
  line-height: 2em;
  font-size: small;
  margin-top: 1.25em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.contenedor-inicio p::first-letter {
  font-size: large;
}

.secciones img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: block;
  transition: all 0.3s ease;
}
.secciones {
  padding-top: 20px;
  margin-bottom: 10px;
}

.overlay {
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay a {
  font-size: 15px;
  margin-bottom: 0;
}

.sociales {
  position: relative;
  margin: 1rem;
}
.sociales:hover img {
  opacity: 0.3;
}
.sociales:hover .overlay {
  opacity: 1;
}

.institucionales {
  position: relative;
  margin: 1rem;
}
.institucionales:hover img {
  opacity: 0.3;
}
.institucionales:hover .overlay {
  opacity: 1;
}

.wrapper {
  size: 0.2rem;
}
.wrapper:hover {
  font-size: 2em;
  transition: 0.5s;
}

.row {
  justify-content: center;
}

.contenedor-sociales {
  text-align: center;
  line-height: 2em;
  font-size: small;
  margin-top: 1.25em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.contenedor-sociales p::first-letter {
  font-size: large;
}

.sociales {
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.459);
}

.institucionales {
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.459);
}

.secciones {
  margin-left: auto;
  margin-right: auto;
}

.contenedor-institucionales {
  text-align: center;
  line-height: 2em;
  font-size: small;
  margin-top: 1.25em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.contenedor-institucionales p::first-letter {
  font-size: large;
}

.contenedor-staff {
  text-align: center;
  line-height: 2em;
  font-size: small;
  margin-top: 1.25em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}
.contenedor-staff p::first-letter {
  font-size: large;
}

h3 {
  font-size: medium;
}

.staff {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.459);
  max-width: 500px;
}
.staff img {
  object-fit: cover;
  width: 100%;
}

.staff-nombre {
  font-size: 0.8rem;
}

.staff-titulo {
  font-size: 0.7rem;
}

.staff-texto {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 990px) {
  body {
    padding: none;
  }
  .staff {
    max-width: 800px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    background-color: white;
  }
  .staff img {
    object-fit: cover;
    width: 80%;
  }
  .staff-texto {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 1rem;
    text-align: left;
    text-justify: center;
    font-size: 0.8rem;
  }
  .staff-nombre {
    font-size: 1rem;
  }
  .staff-titulo {
    font-size: 0.7rem;
  }
}
.contenedor-contacto {
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.459);
  padding: 10px;
}

.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em;
  font-size: small;
}

.contact-form {
  background: rgba(34, 34, 34, 0.1529411765);
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form button {
  background: rgba(97, 97, 97, 0.1098039216);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(80, 79, 79);
  border-bottom: 1px solid #616161;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #616161;
  color: white;
  transition: background-color 0.5s ease-out;
  outline: 0;
}

.contact-info {
  justify-content: center;
  align-items: center;
  background: rgba(104, 104, 104, 0.151);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input::placeholder {
  color: rgb(109, 109, 109);
  font-size: 1.1em;
}

@media (min-width: 990px) {
  body {
    padding: none;
  }
  .contenedor-contacto {
    display: grid;
    grid-template-columns: 4fr 2fr;
  }
  .contenedor-contacto > * {
    padding: 0.5em;
  }
  .contact-info {
    text-align: left;
    padding: 2em;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
