.contenedor-contacto {
    box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.459);
    padding: 10px;
}


.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em;
    font-size: small
}




.contact-form {
    background: #22222227;

    & form label {
        display: block;
    }

    & form p {
        margin: 0;
        padding: 1em;
    }


    & form button {
        background: #6161611c;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }

    

}



.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .5em;
    border: none;
    background: none;
    outline: 0;
    color: rgb(80, 79, 79);
    border-bottom: 1px solid #616161;
}


.contact-form form button:hover,
.contact-form form button:focus {
    background: #616161;
    color: white;
    transition: background-color .5s ease-out;
    outline: 0;
}


.contact-info {
    justify-content: center;
    align-items: center;
    background: rgba(104, 104, 104, 0.151);
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}



input::placeholder {
    color: rgb(109, 109, 109);
    font-size: 1.1em;
}


@media(min-width: 990px) {
    body {
        padding: none;
    }

    .contenedor-contacto {
        display: grid;
        grid-template-columns: 4fr 2fr;
    }

    .contenedor-contacto>* {
        padding: .5em;
    }

    .contact-info {
        text-align: left;
        padding: 2em;
        align-items: center;

    }
}